body {
    background-color: #CAF0F8;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 10px;
    border: 10px;
    padding: 10px;
}

header h1 {
  margin: 0;
}

header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: right;
  font-size: 32px;
}

header ul li {
  display: inline-block;
  padding: 20px;
}

header a {
  color: black;
  text-decoration: none;
}

.Introduction {
    display: flex;
    font-size: 96px;
    font-weight: 450;
    margin-left: 220px;
    margin-top: 150px;
    margin-bottom: 0px;
}

.Introduction2 {
    display: flex;
    font-size: 40px;
    font-weight: 400;
    margin-left: 220px;
    margin-top: 0px;
}

.Work {
  color:black;
  display:flex;
  font-size: 30px;
  font-weight: 300;
  margin-left: 220px;
  margin-top: 80px;
  text-decoration: underline;
}

.Selected {
  text-decoration: underline;
}

.Arrow {
  display: flex;
  width: 35px;
  margin-left: 10px;
  margin-top: 81px;
}

.WorkContainer {
  display:flex;
  flex-wrap: wrap;
}

.SpartanFit {
  margin-left: 30px;
  margin-top: 30px;
  width: 708px;
  border-radius: 20px;
}

.LuckyTunes {
  width: 567px;
  border-radius: 20px;
  margin-left: 50px;
}

.Logo {
  position: absolute;
  top: 18px;
  left: 27px;
  width: 70px;
}

.Projects {
  display: flex;
  font-size: 64px;
  margin-top: 0;
  margin-left: 220px;
  font-weight: 400;
}

.SpartanFitProject {
  display: flex;
  font-size: 40px;
  margin-left: 45px;
  font-weight: 100;
  text-decoration: underline;
}

.SpartanFitDesc {
  display: flex;
  font-size: 24px;
  margin-left: 45px;
  font-weight: lighter;
  margin-top: 0px;
}

.SpartanFitProjectImage {
  display: flex;
  width: 625px;
  margin-left: 120px;
  border-radius: 20px;
}

.Container1 {
  display: flex;
  flex-wrap: wrap;
}

.LuckyTunesProject {
  display: flex;
  font-size: 40px;
  margin-left: 45px;
  font-weight: 100;
  text-decoration: underline;
}


.LuckyTunesDesc{
  display: flex;
  font-size: 24px;
  margin-left: 45px;
  font-weight: lighter;
  margin-top: 0px;
}

.LuckyTunesProjectImage {
  display: flex;
  width: 500px;
  border-radius: 20px;
  margin-left: 280px;
}

.Container2 {
  display: flex;
  flex-wrap: wrap;
}

.AboutMe {
  display: flex;
  font-size: 64px;
  margin-top: 0;
  margin-left: 200px;
  font-weight: 400;  
}

.Bio {
  display: flex;
  font-size: 28px;
  margin-top: 100px;
  margin-left: 70px;
  font-weight: lighter;
}

.BioPhoto {
  display: flex;
  width: 459px;
  border-radius: 20px;
  margin-left: 100px;
}

.AboutContainer {
  display: flex;
  flex-wrap: wrap;
}

.Contact {
  display: flex;
  font-size: 64px;
  margin-top: 0;
  margin-left: 220px;
  font-weight: 400;  
}

.SayHi {
  display: flex;
  font-size: 48px;
  margin-left: 650px;
  margin-top: 100px;
  font-weight: 100;
}

.SendEmail {
  display: flex;
  font-size: 36px;
  margin-top: 30px;
  margin-left: 20px;
  color: black;
}

.EmailVector {
  display: flex;
  width: 50px;
  margin-left: 545px;
  margin-top: 30px;
}

.EmailContainer {
  display: flex;
  flex-wrap: wrap;
}

.LinkedInLogo {
  display: flex;
  width: 50px;
  margin-left: 545px;
  margin-top: 30px;
} 

.LinkedInLink {
  display: flex;
  font-size: 36px;
  margin-top: 30px;
  margin-left: 20px;
  color: black;
}

.LinkedInContainer {
  display: flex;
  flex-wrap: wrap;
}

.SFLink {
  color:black;
  display:flex;
  font-size: 24px;
  font-weight: 300;
  margin-left: 950px;
  margin-top: 40px;
  text-decoration: underline; 
}

.ArrowSF {
  display: flex;
  width: 30px;
  margin-left: 10px;
  margin-top: 40px;
}

.SFContainer {
  display: flex;
  flex-wrap: wrap;
}

.LTLink {
  color:black;
  display:flex;
  font-size: 24px;
  font-weight: 300;
  margin-left: 950px;
  margin-top: 40px;
  text-decoration: underline; 
}

.ArrowLT{
  display: flex;
  width: 30px;
  margin-left: 10px;
  margin-top: 40px; 
}

.LTContainer {
  display: flex;
  flex-wrap: wrap;
}

/* Responsive design for mobile devices */
@media (max-width: 768px) {

  body {
    margin: 10px;
    padding: 10px;
  }

  header ul {
    text-align: center;
    font-size: 20px;
  }

  header ul li {
    padding: 10px;
  }

  .Logo {
    width: 50px;
    left: 10px;
    top: 10px;
  }

  .Introduction,
  .Introduction2,
  .Work,
  .Projects,
  .AboutMe,
  .Contact {
    margin-left: 0;
    text-align: center;
  }

  .Introduction {
    font-size: 48px;
    margin-top: 80px;
  }

  .Introduction2 {
    font-size: 24px;
  }

  .Projects,
  .AboutMe,
  .Contact {
    font-size: 36px;
  }

  .WorkContainer,
  .AboutContainer,
  .Container1,
  .Container2,
  .EmailContainer,
  .LinkedInContainer {
    flex-direction: column;
    align-items: center;
  }

  img {
    max-width: 100%;
    height: auto;
    margin-left: 0;
  }

  .Bio {
    margin: 20px 0;
    font-size: 20px;
    text-align: center;
  }

  .SpartanFitDesc,
  .LuckyTunesDesc {
    margin-left: 0;
    text-align: center;
    font-size: 18px;
  }

  .SFLink,
  .LTLink,
  .ArrowSF,
  .ArrowLT {
    margin-left: 0;
    margin-top: 20px;
  }

  .SayHi {
    margin-left: 0;
    font-size: 32px;
    text-align: center;
  }

  .EmailVector,
  .LinkedInLogo {
    margin-left: 0;
  }

  .SendEmail,
  .LinkedInLink {
    margin-left: 0;
    font-size: 24px;
    text-align: center;
  }
}
