body {
    background-color: #CAF0F8;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 10px;
    border: 10px;
    padding: 10px;
}

header h1 {
  margin: 0;
}

header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: right;
  font-size: 32px;
}

header ul li {
  display: inline-block;
  padding: 20px;
}

header a {
  color: black;
  text-decoration: none;
}

.Introduction {
    display: flex;
    font-size: 96px;
    font-weight: 450;
    margin-left: 220px;
    margin-top: 150px;
    margin-bottom: 0px;
}

.Introduction2 {
    display: flex;
    font-size: 40px;
    font-weight: 400;
    margin-left: 220px;
    margin-top: 0px;
}

.Work {
  color:black;
  display:flex;
  font-size: 24px;
  font-weight: 300;
  margin-left: 220px;
  margin-top: 80px;
  text-decoration: underline;
}

.Selected {
  text-decoration: underline;
}

.Arrow {
  display: flex;
  width: 30px;
  position: absolute;
  left: 410px;
  top: 490px;
}

.SpartanFit {
  margin-left: 30px;
  margin-top: 30px;
  width: 708px;
  border-radius: 20px;
}

.LuckyTunes {
  width: 567px;
  border-radius: 20px;
  margin-left: 50px;
}

.Logo {
  position: absolute;
  top: 18px;
  left: 27px;
  width: 70px;
}

.Projects {
  display: flex;
  font-size: 64px;
  margin-top: 0;
  margin-left: 220px;
  font-weight: 400;
}

.SpartanFitProject {
  display: flex;
  font-size: 40px;
  margin-left: 45px;
  font-weight: 100;
  text-decoration: underline;
}

.SpartanFitDesc {
  display: flex;
  font-size: 24px;
  margin-left: 45px;
  font-weight: lighter;
  margin-top: 0px;
}

.SpartanFitProjectImage {
  display: flex;
  width: 625px;
  margin-left: 120px;
  border-radius: 20px;
}

.Container1 {
  display: flex;
  flex-wrap: wrap;
}

.LuckyTunesProject {
  display: flex;
  font-size: 40px;
  margin-left: 45px;
  font-weight: 100;
  text-decoration: underline;
}


.LuckyTunesDesc{
  display: flex;
  font-size: 24px;
  margin-left: 45px;
  font-weight: lighter;
  margin-top: 0px;
}

.LuckyTunesProjectImage {
  display: flex;
  width: 500px;
  border-radius: 20px;
  margin-left: 280px;
}

.Container2 {
  display: flex;
  flex-wrap: wrap;
}

.AboutMe {
  display: flex;
  font-size: 64px;
  margin-top: 0;
  margin-left: 300px;
  font-weight: 400;  
}

.Bio {
  display: flex;
  font-size: 28px;
  margin-top: 100px;
  margin-left: 100px;
  font-weight: lighter;
}

.BioPhoto {
  display: flex;
  width: 459px;
  border-radius: 20px;
  margin-left: 100px;
}

.AboutContainer {
  display: flex;
  flex-wrap: wrap;
}

.Contact {
  display: flex;
  font-size: 64px;
  margin-top: 0;
  margin-left: 300px;
  font-weight: 400;  
}

.SayHi {
  display: flex;
  font-size: 48px;
  margin-left: 650px;
  margin-top: 100px;
  font-weight: 100;
}

.SendEmail {
  display: flex;
  font-size: 36px;
  margin-top: 30px;
  margin-left: 20px;
  color: black;
}

.EmailVector {
  display: flex;
  width: 50px;
  margin-left: 545px;
  margin-top: 30px;
}

.EmailContainer {
  display: flex;
  flex-wrap: wrap;
}

.LinkedInLogo {
  display: flex;
  width: 50px;
  margin-left: 545px;
  margin-top: 30px;
} 

.LinkedInLink {
  display: flex;
  font-size: 36px;
  margin-top: 30px;
  margin-left: 20px;
  color: black;
}

.LinkedInContainer {
  display: flex;
  flex-wrap: wrap;
}