body {
    background-color: #CAF0F8;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 10px;
    border: 10px;
    padding: 10px;
}

header h1 {
  margin: 0;
}

header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: right;
  font-size: 32px;
}

header ul li {
  display: inline-block;
  padding: 20px;
}

header a {
  color: black;
  text-decoration: none;
}

.Introduction {
    display: flex;
    font-size: 96px;
    font-weight: 450;
    margin-left: 220px;
    margin-top: 150px;
    margin-bottom: 0px;
}

.Introduction2 {
    display: flex;
    font-size: 40px;
    font-weight: 400;
    margin-left: 220px;
    margin-top: 0px;
}